@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Manage my <a asp-controller="Customer" asp-action="Customers">Go to the customer</a>.</p>
</div>
