@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <a asp-controller="Customer" asp-action="Customers" asp-route-lowerBound="A" asp-route-upperBound="E">Go to the customer.</a>
</div>
